/* Variables */
	:root {
		--colorText: #EEE;
		--colorBackground: #070A0D;
		--colorSheet: #1F2614;
		--colorPanel: rgba(77, 89, 64, 0.8);
	}

/* Base */
	body {
		position: relative;
		max-width: 36em;
		margin: 1em auto;
		line-height: 1.6;
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		background: url('../images/m7SvGxxbDDk.jpg');
		background-color: var(--colorBackground);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	@media only screen and (max-width: 520px) {
		body {
			margin: auto auto;
		}
	}

/* Content */
	.content-wrapper {
		color: var(--colorText);
		background-color: rgba(0,0,0,0);
		border-radius: 10px;
		overflow: hidden;

		margin: auto;
	}
	.content-wrapper > .header {
		display: grid;
		grid-template-columns: 35% auto;
		grid-template-rows: 200px;
		column-gap: 1em;
		background-color: var(--colorPanel);
		max-height: 200px;
		padding: 0 1em;
	}
	.content-wrapper > .header > .left {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		max-height: inherit;
		padding: 1em 0;
	}
	.content-wrapper > .header > .left > .profile-img {
		border-radius: 100%;
		width: auto;
		height: 100%;
	}
	@media only screen and (max-width: 520px) {
		.content-wrapper > .header > .left > .profile-img {
			width: 100%;
			height: auto;
		}
	}
	.content-wrapper > .header > .right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: calc(1em - 5px);
	}
	.content-wrapper > .header > .right > h1 {
		font-weight: 600;
		letter-spacing: -1px;
		line-height: 1.2;
		margin: 0px;
		margin-top: 22px;
		font-size: 30px;
	}
	@media only screen and (max-width: 720px) {
		.content-wrapper > .header > .right > h1 {
			font-size: calc(22px + 1vw);
		}
	}
	.content-wrapper > .rest {
		overflow: hidden;
		background: var(--colorSheet);
		padding: 1.4em;
		padding-top: 0;
		text-align: justify;
	}

/* Buttons */
	.fa, .fab {
		padding: 0 8px;
		font-size: 25px;
	}
	.buttons-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		width: 100%;
		height: 100%;
	}
	.buttons-row  > * {
		margin-right: 5px;
		margin-bottom: 5px;
		width: 25%;
		flex-grow: 1;
	}
	@media only screen and (max-width: 700px) {
		.buttons-row #desktop {
			display: none;
		}
	}
	.button {
		position: relative;
		z-index: 0;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 44px;
		border-radius: 5px;
		line-height: 1.1;
		cursor: pointer;
		color: var(--colorText);
		background: rgba(255,255,255,0.1);
		transition: all 0.12s ease-in;
		text-decoration: none;
		overflow: hidden;
	}
	.button > p {
		padding-right: 10px;
	}
	.button:hover {
		opacity: 0.8;
	}
	.b-order {
		margin-top: calc(1em - 10px);
		font-size: 21px;
		text-transform: uppercase;
	}
	.b-order > p {
		transition: all 0.2s ease-out;
	}
	.b-order:hover > p {
		margin: 0 8px;
	}

/* Cards */
	.cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin-left: 5px;
	}
	.cards .item {
		margin-right: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		height: 180px;
		width: 40%;
		min-width: 100px;
		flex-grow: 1;
	}
	@media only screen and (max-width: 550px) {
		.cards {
			margin-left: 0;
		}
		.cards .item {
			width: 100%;
			margin-right: 0;
		}
	}
	.cards .preview {
		position: relative;
		border-radius: 5px;
		background-size: cover;
		height: 100%;
		overflow: hidden;
	}
	.cards .title-box {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		bottom: 0;
		color: var(--colorText);
		background-color: rgba(0,0,0,0.483);
		height: 20%;
		transition: all 0.16s ease-out;
	}
	.cards .item:hover .title-box {
		background-color: var(--colorPanel);
	}
	.cards .item p {
		text-align: left;
		margin: 0;
		margin-left: 10px;
	}
	.cards .item .title {
		font-weight: 600;
		margin-top: 3px;
	}
	.cards .item .description {
		height: 0;
		font-weight: 400;
		font-size: 16px;
	}
	.cards .item .expanded, .cards .item:hover .expanded {
		height: 100%;
	}
	.cards .item .title-box.expanded > .description {
		height: 100%;
	}
