@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(opensans_regular.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
html, body {
	height: 100%;
}
html {
	display: table;
	margin: auto;
}
body {
  max-width: 36em;
  margin: 5px auto;
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background: url('https://portfolio.commishes.com/image/389509/large/?p=1597959481');
  background-attachment: fixed;

  background-color: #EEEEEEAA;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

display: table-cell;
	vertical-align: middle;
}
.content-wrapper {
	z-index: 9999;
	color: #444;
	padding: 1em;
	margin: 0.3em;
	background: #F0F0F0;
	border-radius: 10px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 18px;
}
h1 {
	line-height: 1.2;
	margin-top: 18px;
	margin-bottom: 18px;
	font-size: 30px;
}
.profile-img {
	border-radius: 10px;
	display: block;
	margin: 0 auto;
}
.fa, .fab {
	padding: 10px;
	font-size: 30px;
	margin: 5px 2px;
}
.buttons-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
}
.buttons-row  > * {
	margin-right: 5px;
	margin-bottom: 5px;
	flex-grow: 1;
}
.button {
	border-radius: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #FFF;
	text-decoration: none;
	height: 50px;
	min-width: 140px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.12s ease-out;
}
.button > p {
	padding-right: 10px;
}
.button:hover {
	opacity: 0.8;
}
.button-telegram {background: #0088CC}
.button-mail {background: #D44638}
.button-twitter {background: #55ACEE}
.button-patreon {background: #F96854}